input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance:none;
    margin:0;
}

.box{
    background-color:#37455d;
    height:auto;
    width:100%;
    border-radius:10px;
}

.title{
    color:#fff;
    text-align:center;
    padding:10px;
}

#select-box{
    display:flex;
    justify-content:center;
}

.select-box{
    width:59%;
    padding:10px; 
 }

.input-box{
    text-align:center;
    padding:15px;
}

.input-box > input{
    width:60%;
    height:30px;
}

.but{
    text-align:center;
    padding:15px;
}

.btn{
    font-size:medium;
    font-weight:bold;
    color:#fff;
    background-color:blue;
    cursor:pointer;
    width:150px;
    height:50px;
}