{% extends "base.html" %}

{% block title %} Admin Dashboard {% endblock %}

{% block body %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/style3.css' %}">
<link rel="stylesheet" href="{% static 'css/paginator.css' %}">

<main class="main-container">
        <div class="box">

            {% if messages %}
            {% for message in messages %}
        <div class="alert {{ message.tags }} ">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
            <div classs="alert-text">{{ message }}</div>
          </div>
        {% endfor %}
        {% endif %}
                <div class="table-header">
                    <p>Employee List</p>
                    <form action="/ems/search_by">
                        <input type="search" name="search" placeholder="Id search" style="height:35px;width:200px;">
                        <button class="add-new" type="submit">search</button>
                    </form>
                    {% if empdetail.position.name == "Admin" %}
                        <a href="/ems/emp/create"><button class="add-new">Add New</button></a>
                    {% elif empdetail.position.name == "Manager" %}
                    <a href="/ems/emp/create"><button class="add-new">Add New</button></a>
                    {% endif %}
                </div>
                {% if empcreates %}
                <table class="table">
                    <thead>
                        <th>ID</th>
                        <th>Photo</th>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Salary</th>
                        <th>Gender</th>
                        <th>Position</th>
                        <th>Action</th>    
                    </thead>
                    {% for i in empcreates %}
                    <tbody>
                        <tr>
                            <td data-label="ID">{{i.id}}</td>
                            <td data-label="Photo">
                                {% if i.image %}
                                <img src={{i.image.url}} style="height: 60px;width: 60px;border-radius: 15px;border: 5px solid #ced0d2;"/>
                                {% endif %}
                            </td>
                            <td data-label="Name">{{i.user.username}}</td>
                            <td data-label="Phone">{{i.phone}}</td>
                            <td data-label="Salary">{{i.salary}}</td>
                            <td data-label="Gender">{{i.gender.name}}</td>
                            <td data-label="Position">{{i.position.name}}</td>
                            {% if empdetail.position.name == "Admin" %}
                            <td data-label="Action">
                                <a href="/ems/emp/detail/{{i.id}}/"><button style="background-color:rgb(86, 168, 168)"><i class="fa fa-eye"></i></button></a>
                                <a href="/ems/emp/update/{{i.id}}/"><button style="background-color:#0298cf;"><i class="fa fa-edit"></i></button></a>
                                <a href="/ems/emp/delete/{{i.id}}/" onclick="return confirm('Are you sure?');"><button style="background-color:#f80000;"><i class="fa fa-trash-o"></i></button></a>
                            </td>
                            {% elif empdetail.position.name == "Manager" %}
                            <td data-label="Action">
                                <a href="/ems/emp/detail/{{i.id}}/"><button style="background-color:rgb(86, 168, 168)"><i class="fa fa-eye"></i></button></a>
                                <a href="/ems/emp/update/{{i.id}}/"><button style="background-color:#0298cf;"><i class="fa fa-edit"></i></button></a>
                                <a href="/ems/emp/delete/{{i.id}}/" onclick="return confirm('Are you sure?');"><button style="background-color:#f80000;"><i class="fa fa-trash-o"></i></button></a>
                            </td>
                            {% elif empdetail.position.name == "Project Manager" %}
                            <td data-label="Action">
                                <a href="/ems/emp/detail/{{i.id}}/"><button style="background-color:rgb(86, 168, 168)"><i class="fa fa-eye"></i></button></a>
                            </td>
                            {% endif %}
                        </tr>
                    </tbody>
                    {% endfor %}
                    {% else %}
                            <font align="center"><h3>Nothing to show!</h3></font>
                    {% endif %}
                </table>

                {% if empcreates.has_other_pages %}
                <h3>{{ empcreates }}</h3>
<div class="box1">
<div class="pagination">
    <ul>
        {% if empcreates.has_previous %}
        <li class="btn prev"><a class="tag" href="?page={{ empcreates.previous_page_number }}"><span><i class="fa fa-angle-left">Previous</i></span></a></li>
        {% else %}
        <li class="btn prev disabled"><span><i class="fa fa-angle-left">Previous</i></span></li>
        {% endif %}
{% if empcreates.has_next %}
        <li class="btn next"><a class="tag" href="?page={{ empcreates.next_page_number }}"><span>Next<i class="fa fa-angle-right"></i></span></a></li>
        {% else %}
        <li class="btn next disabled"><span>Next<i class="fa fa-angle-right"></i></span></li>
        {% endif %}
    </ul>
</div>
</div>
{% endif %}
            </div>
        </div>


</main>


{% endblock %}