{% extends "base.html" %}

{% block title %} Admin Dashboard {% endblock %}

{% block body %}

{% load static %}
<link rel="stylesheet" href="{%static 'css/style4.css'%}">

<div class="main-container">

    <div class="box">
        <div class="box-detail">
            <div class="image">
                <img src="{{empdetails.image.url}}"/>
            </div>
            <div class="detail">
                <label>Name</label>
                <p>{{empdetails.name}}</p>
            </div>
            <div class="detail">
                <label>Address</label>
                <p>{{empdetails.address}}</p>
            </div>
            <div class="detail">
                <label>Birthday</label>
                <p>{{empdetails.birthday}}</p>
            </div>
            <div class="button">
                <a href="/ems/dashboard"><button>Dashboard</button></a>
                <a href="/ems/profile/upload/{{user.id}}"><button>Upload</button></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}