{% extends "base.html" %}

{% block title %} Admin Dashboard {% endblock %}

{% block body %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/style2.css' %}">

<main class="main-container">
        <div class="box">
            <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
                <div class="title">
                    <h2>Profile Upload</h2>
                </div>
                <div class="input-box">
                    <input type="text" value="{{empdetails.name}}" name="name">
                </div>
                <div class="input-box">
                    <input type="text-area" value="{{empdetails.address}}" name="address">
                </div>
                <div class="input-box">
                    <input type="date" value="{{empdetails.birthday}}" name="birthday">
                </div>
                <div class="input-box">
                    {% if empcreates.image %}
				    <p>File uploaded at: <a href="{{empcreates.image.url}}">{{empcreates.image}}</a></p>
			        {% endif %}
		            {% if empdetails.image %}
			        <img src={{empdetails.image.url}} style="width:100px;height:100px;"/>
		            {% endif %}<br><br>
                    <input type="file" name="image">
                </div>
                <div class="but">
                    <button type="submit" class="btn">Update</button>
                </div>
            </form>
            <div class="but">
                <a href="/ems/dashboard"><button class="btn">Cancel</button></a>
            </div>
        </div>
</main>

{% endblock %}