{% extends "base.html" %}

{% block title %} Admin Dashboard {% endblock %}

{% block body %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/style3.css' %}">
<link rel="stylesheet" href="{% static 'css/paginator.css' %}">

<main class="main-container">
        <div class="box">

            {% if messages %}
            {% for message in messages %}
        <div class="alert {{ message.tags }} ">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
            <div classs="alert-text">{{ message }}</div>
          </div>
        {% endfor %}
        {% endif %}

                <div class="table-header">
                    <p>Resignation List</p>
                    <form action="/ems/search_by2">
                        <input type="search" name="search" placeholder="Name or EMP-Id search" style="height:35px;width:200px;">
                        <button class="add-new" type="submit">search</button>
                    </form>
                </div>
                {% if res %}
                <table class="table">
                    <thead>
                        <th>EMP-ID</th>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Status</th>
                        <th>Action</th>    
                    </thead>
                    {% for i in res %}
                    <tbody>
                        <tr>
                            <td data-label="EMP-ID">{{i.empid}}</td>
                            <td data-label="Name">{{i.name}}</td>
                            <td data-label="Position">{{i.position.name}}</td>
                            <td data-label="Status">
                                {% if i.status == "pending" %}
                                <a href="/ems/res/approve/{{i.id}}/" onclick="return confirm('Are you sure?');"><button style="background-color:green;width:70px;">approve</button></a>
                                <a href="/ems/res/reject/{{i.id}}/" onclick="return confirm('Are you sure?');"><button style="background-color:red;width:70px;">reject</button></a>
                                {% elif i.status == "approve" %}
                                <button class="disabled" style="background-color:green;width:100px;">approve</button>
                                {% elif i.status == "reject" %}
                                <button class="disabled" style="background-color:red;width:100px;">reject</button>
                                {% endif %}
                            </td>
                            <td data-label="Action">
                                <a href="/ems/res/detail/{{i.id}}/"><button style="background-color:rgb(86, 168, 168)"><i class="fa fa-eye"></i></button></a>
                                <a href="/ems/res/delete/{{i.id}}/" onclick="return confirm('Are you sure?');"><button style="background-color:#f80000;"><i class="fa fa-trash-o"></i></button></a>
                            </td>
                        </tr>
                    </tbody>
                    {% endfor %}
                    {% else %}
                            <font align="center"><h3>Nothing to show!</h3></font>
                    {% endif %}
                </table>

                {% if res.has_other_pages %}
                <h3>{{ res }}</h3>
<div class="box1">
<div class="pagination">
    <ul>
        {% if res.has_previous %}
        <li class="btn prev"><a class="tag" href="?page={{ res.previous_page_number }}"><span><i class="fa fa-angle-left">Previous</i></span></a></li>
        {% else %}
        <li class="btn prev disabled"><span><i class="fa fa-angle-left">Previous</i></span></li>
        {% endif %}
{% if res.has_next %}
        <li class="btn next"><a class="tag" href="?page={{ res.next_page_number }}"><span>Next<i class="fa fa-angle-right"></i></span></a></li>
        {% else %}
        <li class="btn next disabled"><span>Next<i class="fa fa-angle-right"></i></span></li>
        {% endif %}
    </ul>
</div>
</div>
{% endif %}
            </div>
</main>


{% endblock %}